.chord-visualizer-page {
  padding: 1rem 10px;
}

.chord-visualizer-page h1 {
  color: #3d3d3d;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.chord-visualizer-page .fretboard-container {
    background-color: transparent;
    border-radius: 0;
    padding: 20px 0;
}

.chord-visualizer-page .fret,
.chord-visualizer-page .fret-number {
    width: 48px;
    flex-shrink: 0;
}

.chord-visualizer-page .controls-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.chord-visualizer-page .voicing-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left */
  gap: 1rem;
  margin-top: 1rem;
}